*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cornsilk;
}
#counter{
    background-color: white;
    height: 50vh;
    width:50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 48px;
}
button{
    background-color: black;
    color: white;
}
