@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

*{
    --primary:dodgerblue;
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;  
 font-family: "Sofia", cursive;
  font-weight: 400;
  font-style: normal;

 
}
/* header starts*/
header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 0px 50px;
     position: sticky;
     top: 0px;
}

header .logo{
 font-size: 40px;
 display: flex;
}
header .logo span:nth-child(1)
{
    color: var(--primary)
}
header .menu ul
{
    display: flex;
    gap: 30px;
    font-size: 26px;
}

header .menu ul li{
    list-style-type: none;
}
header .menu ul li a{
    text-decoration: none;
    color: white;
}
header .menu ul li a:hover{
    color: var(--primary);
   
}
header .menu ul li:hover{
    transform: scale(1.1);
}
/* header ends*/
/* banner starts*/
section
{
          padding: 20px 40px;

}
#banner{
    display: flex;
    height: 80vh;
}
#banner .left{
    height: 100%;
    display: flex;
    flex-direction: column;
   
}
.left span
{
    color: var(--primary);
}
.left h2{
    font-size: 60px;
    margin-bottom: 0px;
}
.left h4{
    font-size: 24px;
}
.left p {
    text-align: justify;
    font-size: 16px;
}
.buttons{
    display: flex;
    gap: 20px;
}
button{
border-radius: 12px;
padding: 15px;
border: 1px solid var(--primary);
transition: all 2s ease;
}
.buttons button:nth-child(1){
 background-color: var(--primary);
 color: white;
}
button:hover{
 transform: scale(1.2);
 background-color: var(--primary);
}
.right{
    height: 100%;
    display: flex;
}
/* about starts*/
#about p{
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}
#about{
    text-align: center;
}
/* about ends*/

/* projects starts*/
#projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
#projects #project{
    box-shadow: 5px 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}
#projects #project img{
    width: 200px;
}

/* projects ends*/

.heading{
    color: var(--primary);
    font-size: 38px;
    text-align: center;
}
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#contact input, textarea{
 width: 100%;
 border-radius: 10px;
 height: 2rem;
}


#project:hover{
    box-shadow:5px 5px var(--primary) ;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
footer span{
    color: var(--primary);
}

/* banner ends*/
/* mobile design */
/* normal, small -- max 480/570px,
tablets -- 768-790px
pc --1024px
laptops -- 1200px --1400px 
>1400px -- screens */

@media (max-width:798px) {
  header{
    flex-direction: column;
    gap: 20px;
  }    
  #banner{
    flex-direction: column;
    height: max-content;
  }
  #banner img{
    width: 80vw;
  }
#projects{
    grid-template-columns: repeat(2,1fr);
}
}
@media (max-width:480px)
{
    header .menu ul{
     flex-direction: column;
     gap: 20px;
    }
    #banner{
        flex-direction: column;
        gap: 20px;
        height: max-content;
    }
    #projects{
    grid-template-columns: repeat(1,1fr);
}
}

