.main{
 display: flex;
 justify-content: center;
 align-items: center;
    height:100vh;
    width: 100%;
    gap: 20px;
}
.box{
   height: 100px;
   width:100px;
    background-color: red;
    border: 1px solid white;
    animation-name: prasad;
    position: absolute;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes prasad {
    0%{
       top: 0px;
       left: 0px;
    }
    20%{
       top: 100px;
       left: 100px;
       background-color: blue;
    }
    40%{
       top:100px;
       left:200px;
       background-color: yellow;
       border-radius: 50%;
    }
    60%{
       top:500px;
       left:200px;
       border-radius:30%;
       background-color: green;
    }
    80%{
top:0px;
       left:400px;
       border-radius:50%;
       background-color: tomato;
    }
    100%{
      top:400px;
      left:400px;

       background-color: red;
    }
}