@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin:0px;
    padding:0px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: black;
    color: white;
}
header img{
    height: 80px;
    width: 200px;
}
.menu li{
    list-style-type: none;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
a{
    color: white;
    font-size: 24px;
    text-decoration: none;
}
.menu button{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 24px;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    max-width: 1280px;
    place-items: center;
}
.item{
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
}
.item img{
    height: 200px;
    width: 200px;
}

.item:hover{
transform: scale(1.05);
}
#product-details{
    padding: 50px;
    display: flex;
    gap: 20px;
}