*{
    box-sizing: border-box;
}
.main{
}
a{
    text-decoration: none;
    margin: 0px 20px;
}
/* inline and block */
.box{
    height: 50px;
    width: 50px;
    background-color: red;
    margin: 10px;
   display:none;
}
.side{
  display: inline-block;
}
li
{
    display: inline;
    list-style-type: none;
}
img{

}
img:hover{
  transform:translate(100px)
}